In [2]:
# script to re-scale well log data
# most of the heavy lifting done with lasio (github)

# Big thanks to Ross Meyer and Kent

In [3]:
import lasio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
ls

204-20-1_logs.las*              las_resample_and_write.ipynb
LASxPlot.ipynb*                 plot_with_image.ipynb*
data_explor.ipynb               xgb_wavenet_preds_204_19_6.csv

In [5]:
datafile="204-20-1_logs.las" # read in your datafile

l = lasio.read(datafile)

Header section Parameter regexp=~P was not found.

In [6]:
df = l.df()
df.head(8) # Lets check that it works!

,CALI,DENC,DENS,DTC,DTS,GR,NEUT,PEF,RDEP,RMIC,RSHAL,SP
DEPTH,,,,,,,,,,,,
400.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.1524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.4572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.6096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.7620,NaN,NaN,NaN,NaN,NaN,39.1675,NaN,NaN,NaN,NaN,NaN,NaN
400.9144,NaN,NaN,NaN,NaN,NaN,36.6688,NaN,NaN,NaN,NaN,NaN,NaN
401.0668,NaN,NaN,NaN,NaN,NaN,34.0544,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
x = np.arange(400, 2500, 0.1) # top, bottom, step size

d = {}

for c in df.columns:
    d[c] = np.interp(x, df.index.values, df[c].values, left=np.nan, right=np.nan)
    
df_resample = pd.DataFrame(d, index=x)
df_resample.head(10)

       CALI  DENC  DENS  DTC  DTS         GR  NEUT  PEF  RDEP  RMIC  RSHAL  SP
400.0   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.1   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.2   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.3   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.4   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.5   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.6   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.7   NaN   NaN   NaN  NaN  NaN        NaN   NaN  NaN   NaN   NaN    NaN NaN
400.8   NaN   NaN   NaN  NaN  NaN  38.544465   NaN  NaN   NaN   NaN    NaN NaN
400.9   NaN   NaN   NaN  NaN  NaN  36.904898   NaN  NaN   NaN   NaN    NaN NaN

In [26]:
type(df_resample)

pandas.core.frame.DataFrame

In [29]:
las = lasio.read(datafile)

Header section Parameter regexp=~P was not found.

In [30]:
las.set_data_from_df(df_resample)

AttributeError: 'NoneType' object has no attribute 'strip'

In [35]:
# The resample did not take

qq = las.df()
qq.head(10)

,CALI,DENC,DENS,DTC,DTS,GR,NEUT,PEF,RDEP,RMIC,RSHAL,SP
DEPTH,,,,,,,,,,,,
400.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.1524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.4572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.6096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400.7620,NaN,NaN,NaN,NaN,NaN,39.1675,NaN,NaN,NaN,NaN,NaN,NaN
400.9144,NaN,NaN,NaN,NaN,NaN,36.6688,NaN,NaN,NaN,NaN,NaN,NaN
401.0668,NaN,NaN,NaN,NaN,NaN,34.0544,NaN,NaN,NaN,NaN,NaN,NaN
401.2192,NaN,NaN,NaN,NaN,NaN,34.8124,NaN,NaN,NaN,NaN,NaN,NaN
401.3716,NaN,NaN,NaN,NaN,NaN,36.6110,NaN,NaN,NaN,NaN,NaN,NaN